<div class='my-menu'>
    <a class="menu-btn" routerLink="/contentChild" routerLinkActive="active">Content Child</a>
    <a class="menu-btn" routerLink="/lifecycleHooks" routerLinkActive="active">Lifecycle Hooks</a>
    <a class="menu-btn" routerLink="/impurPipe" routerLinkActive="active">Impur Pipe</a>
    <a class="menu-btn" routerLink="/structuralDirective" routerLinkActive="active">Structural Directive</a>
    <a class="menu-btn" routerLink="/templateExample" routerLinkActive="active">Template Example</a>
    <a class="menu-btn" routerLink="/shadowDomExample" routerLinkActive="active">Shadow DOM</a>
</div>